@import "src/styles/variables";

.topBar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  height: 64px;
  background-color: black;
  color: white;
  .topBarContents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
    max-width: 1200px;
    @media #{$from-small} {
      padding: 0 50px;
    }
  }
}
